:root {
  --light-pink: rgb(239, 152, 167);
  --medium-purple: #807094;
  --dark-purple: #604f71;
}
html {
  font-family: "Roboto", sans-serif;
}
.header {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  background-color: var(--medium-purple);
}
.subheader-subtitle {
  position: relative;
  background-image: url("/images/02-hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.subheader-subtitle__layer {
  position: absolute;
  background: var(--light-pink);
  background: linear-gradient(
    135deg,
    rgba(239, 152, 167, 0.5) 4%,
    rgba(128, 112, 148, 1) 100%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.heading {
  margin-right: auto;
  background-color: var(--light-pink);
  padding-left: 2em;
  color: var(--dark-purple);
}
.nav {
  margin-right: 1em;
}
.main {
  color: var(--dark-purple);
}
.list {
  display: flex;
  list-style: none;
  gap: 1em;
}
.list-item {
  border-bottom: 3px solid var(--light-pink);
}
.list-item__link {
  color: var(--light-pink);
  font-weight: 700;
  text-decoration: none;
}
.subheader-subtitle__heading {
  background-color: var(--light-pink);
  z-index: 1;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  margin-right: 3em;
  color: var(--dark-purple);
}
.section-heading {
  font-size: 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.section {
  display: flex;
  gap: 3em;
  margin-left: 10em;
}
.about-me-paragraph {
  margin-right: 2em;
}
.border {
  border-right: 3px solid var(--dark-purple);
  padding-right: 20px;
  min-width: 100px;
  max-width: 100px;
}
.work-projects {
  display: grid;
  grid-template-areas:
    "pj1 pj1"
    "pj2 pj3"
    "pj4 pj5";
  gap: 1em;
}
.work-project {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.work-project-1 {
  grid-area: pj1;
  position: relative;
  background-image: url("/images/02-portfolio-4.jpg");

  height: 400px;
  min-width: 800px;
}
.work-project-layer {
  position: absolute;
  background: rgba(239, 152, 167, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  border: 3px solid var(--light-pink);
}
.work-project-heading {
  position: absolute;
  z-index: 1;
  background-color: var(--light-pink);
  color: var(--dark-purple);
  bottom: 0;
  padding: 10px 20px;
  font-size: 1.8rem;
}
.work-project-layer:hover {
  cursor: pointer;
  background: transparent;
}
.work-project-2 {
  position: relative;
  grid-area: pj2;
  background-image: url("/images/02-portfolio-2.jpg");
}
.work-project-3 {
  position: relative;
  grid-area: pj3;
  background-image: url("/images/02-portfolio-3.jpg");
}
.work-project-4 {
  position: relative;
  grid-area: pj4;
  background-image: url("/images/02-portfolio-1.jpg");
}
.work-project-5 {
  position: relative;
  grid-area: pj5;
  background-image: url("/images/02-run-buddy.jpg");
}
.contact-me {
  align-items: center;
}
.main .list {
  gap: 6em;
}
.main .list-item__link {
  color: var(--dark-purple);
  border-bottom: 3px solid var(--dark-purple);
}
@media (max-width: 1200px) {
  .work-project-1 {
    min-width: 600px;
  }
}
@media (max-width: 930px) {
  .work-project-1 {
    min-width: 450px;
  }
  .work-project-heading {
    font-size: 1.4rem;
  }
}
@media (max-width: 850px) {
  .work-project-1 {
    min-width: 300px;
  }
  .main .list {
    gap: 3em;
  }
}
@media (max-width: 800px) {
  .work-projects {
    grid-template-areas:
      "pj1"
      "pj2"
      "pj3"
      "pj4"
      "pj5";
  }
  .work-project-1 {
    max-height: 200px;
  }
  .section-heading {
    font-size: 1.6rem;
  }
  .main .list {
    gap: 1em;
  }
  .section {
    margin-left: 2em;
  }
}
@media (max-width: 700px) {
  .header {
    position: fixed;
    z-index: 10;
    width: 100%;
  }
  section {
    flex-direction: column;
    gap: 0;
    margin: 0 2em;
  }
  .border {
    border: none;
    padding: 0;
    min-width: 100%;
  }
  .section-heading {
    text-align: center;
  }
  .about-me-paragraph {
    padding: 0 20px;
  }
  .main {
    gap: 1em;
  }
  .main .list {
    padding: 0;
  }
  .subheader-subtitle__heading {
    margin-right: 1.5em;
  }
}
@media (max-width: 550px) {
  .header .list {
    display: none;
  }
}